boto3>=1.28.73,<2
opentelemetry-api>=1.28.1,<2
opentelemetry-instrumentation-aws-lambda==0.49b1
opentelemetry-instrumentation-dbapi==0.49b1
opentelemetry-instrumentation-logging==0.49b1
opentelemetry-instrumentation-sqlite3==0.49b1
opentelemetry-instrumentation-urllib==0.49b1
opentelemetry-instrumentation-wsgi==0.49b1
opentelemetry-instrumentation-boto3sqs==0.49b1
opentelemetry-instrumentation-botocore==0.49b1
opentelemetry-instrumentation-urllib3==0.49b1
